html {
    font-size: 100%;
}

body {
    background-color: #fffefd;
    margin: 1rem;
            
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-family: Arial;
    color: #333;
}

@media (prefers-color-scheme: dark) {
  body { 
    background: #333; 
    color: white; 
  } 
}

h1, h2, h3, h4 {
    font-size: inherit;
    font-weight: normal;
}

.main {
    max-width: 42rem;
    min-width: 20rem;
    margin: 1.5rem auto 4rem auto;
}

h1 {
    font-size: 2rem;
    margin-top: 2rem;
}
        
h2 {
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

a {
    text-decoration: underline;
    color: inherit;
}
